.InputGroup {

    margin: 20px 0 10px 0;

    .Label { 
        font-size: 18px;
        user-select: none;
    }

    .Input {
        width: 100%;
        margin: 3px 0;
        padding: 10px;
        font-size: 20px;
        outline: none;
        border: 1px solid grey;
        border-radius: 5px;

        &:focus {
            border: 1px solid var(--primary);
            box-shadow: 0px 1px 2px var(--primary);
        }
    }
}