.Button {
    outline: none;
    font-family: 'Prompt', sans-serif;
    border: none;
    border-radius: 5px;
    margin: 0;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 17px;
    user-select: none;

    &.Color {
        background-color: var(--primary);
        color: white;
    }

    &:disabled {
        opacity: 0.8;
        cursor: progress;
    }

}

.Full {
    width: 100%;
}