.CartBadge { 
    margin: 15px 20px 0 20px;
    position: relative;
    height: 40px;
    width: 40px;
    cursor: pointer;

    .Badge { 
        position: absolute;
        top: -10px;
        right: -5px;
        background-color: orangered;
        color: white;
        text-align: center;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        font-size: 12px;
        padding: 3px 0;
        border: 1px solid white;
    }

    &:hover .PopOver { 
        display: block;
    }

    .PopOver { 
        display: none;
        z-index: 77;
        top: 30px;
        right: -20px;
        position: absolute;
        cursor: auto;
        

        .MyCart { 
            color: black;
            margin-top: 20px;
            user-select: text;
            border: 1px solid #ececec;
            box-shadow: 0px 0px 1px grey;
            background-color: white;
            border-radius: 4px;
            width: 300px;
            height: 350px;
            transition: all .5s ease-in-out;
            overflow: hidden;

            .head { 
                padding: 10px 23px;
                border-bottom: 1px solid rgb(220, 220, 220);
                display: flex;
                justify-content: space-between;
                align-items: center;

                a { 
                    color: rgb(77, 77, 77);
                    font-size: 14px;
                    text-decoration: underline;
                    padding: 0 10px;
                }
            }

            .body { 
                width: 100%;
                height: 230px;
                overflow-y: scroll;

                .List{
                    width: 99.9%;
                    .Item {
                        padding: 10px 25px 10px 7px;
                        display: grid;
                        grid-template-columns: 95px 1fr 20px;
                        align-items: center;
                        justify-content: right;
                        text-align: right;

                        &:nth-child(even) { 
                            background-color: whitesmoke;
                        }

                        .qty {
                            padding-right: 20px;
                        }

                        .number { 
                            font-weight: 700;
                            font-family: 'Courier New', Courier, monospace;
                            font-size: 22px;
                        }
                    } 
                }
            }

            .footer { 
                border-top: 1px sold lightgray;
                // background-color: whitesmoke;
                height: 80px;

                .summary { 
                    padding: 5px 20px 0 0;
                    display: grid;
                    grid-template-columns: 120px 1fr 50px;
                    text-align: right;
                    align-items: center;
                    font-weight: 500;
                    // font-size: 18px;

                    .sum { 
                        font-size: 18px;
                    }

                    .baht, .b { 
                        text-align: left;
                        padding-left: 18px;
                  
                    }
                }
            }
        }

        .triangleUp {
            user-select: none;
            z-index: 76;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 30px;
            top: 10px;
            background-color: white;
            transform: rotate(45deg);
            border-top: 2px solid #ececec;
            border-left: 2px solid #ececec;
          }
    }
}