.navbar {
    position: fixed;
    height: 80px;
    width: 100vw;
    z-index: 99;
    transition: .8s all ease-in-out;

    a { 
        color: black;
        text-decoration: none;
    }
    

    .navbarContainer {
        max-width: var(--max-width-container);
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &.active { 

        color: white;
        background-color: var(--primary);

        h1, a, svg, li, div {
            color: white;
        }
        .LoginButton { 
            border: 2px solid white;
        }
    }
}

.navbarLeft {

    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
        margin: 0;
        padding: 0;
        height: 100%;

        h1 {
            font-size: 50px;
            margin: 2px 0;

            &::after {
                content: 'V.3';
                font-size: 14px;
                margin: 0 5px;
            }
        }

        &:hover {
            h1 {
                opacity: 0.9;
            }
        }
    }

}

.navbarRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}