.LoginPage { 
    padding: 20px;
    margin: 5rem auto;
    max-width: 500px;
    width: 100%;

    .Title { 
        font-size: 38px;
        font-weight: 600;
        text-align: center;
    }

    // .btnLogin { 
    //     background-color: orange;
    //     color: black;
    // }

}