.Loading {
    background-color: white;
    width: 100vw;
    min-height: 95vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        text-align: center;
        font-size: 20px;
    }

}