@keyframes ldio-uairjl9wo88 {
    0% {
        opacity: 1;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.73, 1.73);
    }

    100% {
        opacity: 0;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1, 1);
    }
}

.ldio-uairjl9wo88 div>div {
    position: absolute;
    width: 29.160000000000004px;
    height: 29.160000000000004px;
    border-radius: 50%;
    background: #9b51e0;
    animation: ldio-uairjl9wo88 1.0204081632653061s linear infinite;
}

.ldio-uairjl9wo88 div:nth-child(1)>div {
    left: 179.5px;
    top: 106.50000000000001px;
    animation-delay: -0.8928571428571429s;
}

.ldio-uairjl9wo88>div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 194.08px 121.08000000000001px;
}

.ldio-uairjl9wo88 div:nth-child(2)>div {
    left: 158.5px;
    top: 158.5px;
    animation-delay: -0.7653061224489796s;
}

.ldio-uairjl9wo88>div:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 173.08px 173.08px;
}

.ldio-uairjl9wo88 div:nth-child(3)>div {
    left: 106.50000000000001px;
    top: 179.5px;
    animation-delay: -0.6377551020408163s;
}

.ldio-uairjl9wo88>div:nth-child(3) {
    transform: rotate(90deg);
    transform-origin: 121.08000000000001px 194.08px;
}

.ldio-uairjl9wo88 div:nth-child(4)>div {
    left: 55.500000000000014px;
    top: 158.5px;
    animation-delay: -0.5102040816326531s;
}

.ldio-uairjl9wo88>div:nth-child(4) {
    transform: rotate(135deg);
    transform-origin: 70.08000000000001px 173.08px;
}

.ldio-uairjl9wo88 div:nth-child(5)>div {
    left: 34.500000000000014px;
    top: 106.50000000000001px;
    animation-delay: -0.3826530612244898s;
}

.ldio-uairjl9wo88>div:nth-child(5) {
    transform: rotate(180deg);
    transform-origin: 49.08000000000001px 121.08000000000001px;
}

.ldio-uairjl9wo88 div:nth-child(6)>div {
    left: 55.500000000000014px;
    top: 55.500000000000014px;
    animation-delay: -0.25510204081632654s;
}

.ldio-uairjl9wo88>div:nth-child(6) {
    transform: rotate(225deg);
    transform-origin: 70.08000000000001px 70.08000000000001px;
}

.ldio-uairjl9wo88 div:nth-child(7)>div {
    left: 106.50000000000001px;
    top: 34.500000000000014px;
    animation-delay: -0.12755102040816327s;
}

.ldio-uairjl9wo88>div:nth-child(7) {
    transform: rotate(270deg);
    transform-origin: 121.08000000000001px 49.08000000000001px;
}

.ldio-uairjl9wo88 div:nth-child(8)>div {
    left: 158.5px;
    top: 55.500000000000014px;
    animation-delay: 0s;
}

.ldio-uairjl9wo88>div:nth-child(8) {
    transform: rotate(315deg);
    transform-origin: 173.08px 70.08000000000001px;
}

.loadingio-spinner-spin-9qm07ls7maa {
    width: 243px;
    height: 243px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-uairjl9wo88 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-uairjl9wo88 div {
    box-sizing: content-box;
}

/* generated by https://loading.io/ */