* {
    box-sizing: border-box;
}

:root {
    --primary: #9B51E0;
    --max-width-container: 1200px;
}

html {
    scroll-behavior: smooth;
}
body { 
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    font-weight: 400;
}